.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 64px;
  gap: 32px;
  width: 486px;
  height: 743px;
  background: #FFFFFF;
  backdrop-filter: blur(12px);
  border-radius: 0px 24px 24px 0px;
  box-sizing: border-box;
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  box-sizing: border-box;
}

.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #828282;
}

.signup-title {
  font-family: 'Lato', sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #3949AB;
  margin-bottom: 32px;
}

.form-container {
  width: 100%;
  box-sizing: border-box;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  box-sizing: border-box;
}

.input-field {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  position: relative;
  
  top: -5px;
  left: 9px;
}


.text-input {
  box-sizing: border-box;
  width: 90%;
  height: 40px;
  padding: 8px;
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  font-size: 14px;
  color: #828282;
  outline: none;
  background-color: white;
  font-family: 'Lato', sans-serif; 
  -webkit-text-fill-color: #828282;
  position: relative;
  top: -7px;
  left: -2px;
}

.password-field {
  position: relative;
  box-sizing: border-box;
}

.password-toggle {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.eye-icon {
  color: #828282;
}

.password-message {
  height: 20px;
  box-sizing: border-box;
}

.password-error {
  color: red;
  font-size: 12px;
}

.signup-button {
  background: #3949AB;
  border-radius: 40px;
  color: #FFFFFF;
  padding: 11px 96px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  box-sizing: border-box;
}

.signup-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}